@{
    ViewBag.Title = "Подтверждение изменения пароля";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Ваш пароль был изменен. Пожалуйта @Html.ActionLink("нажмите на ссылку", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
